html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: darkgray;
	overflow: hidden;
}

#content {
	width: 70%;
	/* height: calc(100% - 50px); */
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 10px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#config {
	width: 100%;
	height: 500px;
	margin: auto;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
}

#date-time-label {
	font-weight: bold;
	float: right;
	line-height: 25px;
}

#header {
	border-bottom: 1px solid black;
    padding-bottom: 5px;
}
#footer {
	border-top: 1px solid black;
	padding-bottom: 5px;
}

#chgagent {
	margin: 5px;
}
