body,html,content {
    width: 300px;
}
body {
    padding-bottom: 30px;
}
/*
:root,
:host {
	--styleguide-checkbox-size: calc(1rem + 1px);
	--styleguide-input-height: calc(2rem + 2px);
	--styleguide-input-line-height: 2rem;
	--styleguide-selectdropdown-padding: 0 calc(0.84em + 15px) 0 0.84em;
}
*/
.controller {
	align-items: initial;
	-webkit-appearance: none;
	background: hsl(0, 0%, 100%);
	background-clip: border-box;
	border: 1px solid hsla(0, 0%, 4%, 0.3);
	border-radius: 3px;
	border-top: 1px solid hsla(0, 0%, 4%, 0.2);
	box-sizing: border-box;
	cursor: default;
	display: inline-block;
	position: relative;
	transition: border-color 150ms, box-shadow 100ms;
	-webkit-user-select: none;
	white-space: initial;
}

.controller:hover {
	-webkit-filter: brightness(106%);
	box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, 0.15);
}


/* Controllers */

.controller:focus {
	border-color: hsl(210, 70%, 45%) !important;
	box-shadow: 0 0 0 3px hsla(210, 80%, 50%, 0.2) !important;
	outline: none !important;
	outline-offset: initial;
	z-index: 999;
}

.controller:focus:hover {
	-webkit-filter: brightness(103%);
}

.controller:active {
	-webkit-filter: brightness(96%);
	transition: -webkit-filter 50ms;
}

.button {
	/* background-color: hsl(0, 0%, 24%); */
	background-image: linear-gradient(to top, hsl(0, 0%, 96%), hsl(0, 0%, 99%));
	height: var(--styleguide-input-height);
	line-height: var(--styleguide-input-line-height);
	margin: 0 1px 0 -1px;
	min-width: calc(1.84rem + 17px);
	padding: 0 0.84rem;
	text-align: center;
	white-space: pre;
}

#buttons {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    width: 282px;
}
#enabler,
#show-agent,
#opts-btn {
    /* width: 133px; */
    width: 100%;
    float: right;
	line-height: 30px;
	margin-right: 6px;
}

#uagent {
    margin: 10px;
}